---
layout: page
title: Check out the latest blog posts!
---
{%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

<span class="posts">
    {% for post in paginator.posts %}
        <!-- Post: {{post.title}} -->
        <span class="post">
            {% if post.image == null %}
                <hr/>
            {% endif %}
            {% if post.image %}
                <img class="post-image" src="{{ post.image }}">
            {% endif %}
            <h2 class="post-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            <small class="post-meta">
                <span>Posted:
                    {{ post.date | date: date_format }}
                    |
                </span>
                <br class="mobile-break"/>
                <span>
                    {% for tag in post.tags %}
                        <a href="/tags/#{{ tag }}">#{{ tag }}</a>
                    {% endfor %}
                </span>
            </small>
            <p class="card-text">
                {{ post.content | strip_html | truncatewords: 50 }}
                <a href="{{ post.url | relative_url }}">Read more!</a>
            </p>
        </span>
    {% endfor %}
    {% include pagination.html %}
</span>