---
layout: page
title: Well, Hello There!
---
<span class="posts">
    {% for post in paginator.posts %}
        <span class="post">
            <small>{{ post.date | date_to_string }}</small>
            <br>
            <a class="card-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <p class="card-text">
                {{ post.content | strip_html | truncatewords: 50 }}
                <a href="{{ post.url | relative_url }}">Read more!</a>
            </p>
        </span>
        <hr/>
    {% endfor %}
    {% include pagination.html %}
</span>